@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Pattaya&display=swap');
h2 	{font-family: 'Pattaya', sans-serif;}
p 	{font-family: 'Josefin Sans', sans-serif;}
h4 	{font-family: 'Josefin Sans', sans-serif;}
.jumbotron {
	background-color:#dec2cb;
	padding-top:7rem;
	}
.btn {
	background-color:#b4c8ea;
}
.card {
	background-color:#ffdcdb;
}